{% extends "layout.html" %}
{% block content %}
    <div class="col-12 col-md-4 col-lg-4 offset-md-4 justify-content-center">
        <form method="POST">
            <h3 class="text-center mb-4">Вход в систему</h3>
            {% csrf_token %}
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="text-danger">{{ error|escape }}</div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="text-danger">{{ error|escape }}</div>
                {% endfor %}
            {% endif %}
            <input type="text" id="login" class="form-control mb-3" name="username" placeholder="Логин">
            <input type="password" id="password" class="form-control mb-3" name="password" placeholder="Пароль">
            <input type="submit" class="btn btn-primary btn-block" value="Войти">
        </form>
    </div>
{% endblock %}
